<span style="font-family: verdana, geneva, sans-serif;"><!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <title>Dashboard </title>
      <link rel="stylesheet" href="/static/css/Home.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LHCGLN2DT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4LHCGLN2DT');
</script>
    <body>
      <div class="container">
        <nav>
          <ul>
            <li><a href="#" class="logo">
              <img src="https://play-lh.googleusercontent.com/l7uw4DJ65-q_G9RBp3e5XPDAuRz5x6jP3hqUSpdUr-ZM2qpyoQdDBT1U6qztnxchhw" alt="">
              <span class="nav-item">DashBoard</span>
            </a></li>
            <li><a href="#">
              <span class="nav-item">Home</span>
            </a></li>
            <li><a href="{{url_for('dashboard')}}">
              <span class="nav-item">Analytics</span>
            </a></li>
            <li><a href="{{url_for('custom_data')}}">
              <span class="nav-item">Custom Datagraph</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">Notifications</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">User Feedbacks</span>
            </a></li>
            <li><a href="{{url_for('user_alerts')}}">
              <span class="nav-item">Recruiter recommendation</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">To do</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">System Update</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">Profile</span>
            </a></li>
            <li><a href="">
              <span class="nav-item">Help</span>
            </a></li>
            <li><a href="{{url_for('logout')}}" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Log out</span>
            </a></li>
          </ul>
        </nav>
    
        <section class="main">
            <iframe title="mail" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=cba09c49-50ec-466f-b5f6-3495d715d5c7&autoAuth=true&ctid=41409b46-ab33-493c-afa9-b0f31ca64d2d&filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>

        </section>
      </div>
    </body>
    </html></span>