<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4LHCGLN2DT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4LHCGLN2DT');
</script>
<body>
    <h1>user Login</h1>
    <form method="POST" action="/user-login">
        <p>Enter Name:</p>
        <input type="text" name="username" />
        <p>Enter Password:</p>
        <input type="password" name="password"/>
        <input type="submit" value="Login" />
    </form>
    <p>New user ? then <a href="{{url_for('user_register')}}">register here</a></p>
</body>
</html>